@using Mvc.JQuery.DataTables
@using Hearts4Kids.Controllers
@using Mvc.JQuery.DataTables.Models
@using Mvc.JQuery.DataTables.Serialization
@{
    ViewBag.Title = "All Receipts";
}

<h2>All Receipts</h2>

@section styles{
    @Styles.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="//cdn.DataTables.net/1.10.0/css/jquery.DataTables.css" />
    <link rel="stylesheet" href="//cdn.DataTables.net/colvis/1.1.1/css/DataTables.colVis.css" />
    <link rel="stylesheet" href="//cdn.DataTables.net/tabletools/2.2.1/css/DataTables.tableTools.css" />
    <link rel="stylesheet" href="/Content/jquery-DataTables-column-filter/media/js/jquery.DataTables.columnFilter.css" />
    <link rel="stylesheet" href="/Content/jquery-DataTables-column-filter/jquery-ui-timepicker-addon.css" />
}

@{
    var vm = Html.DataTableVm("table-id", (SubscriptionController s) => s.GetDonations(null));
    //vm.JsOptions.Add("iDisplayLength", 25);
    //vm.JsOptions.Add("aLengthMenu", new object[] { new[] {5, 10, 25, 250, -1} , new object[] { 5, 10, 25, 250, "All"} });

    vm.JsOptions.Add("fnCreatedRow", new Raw(@"function( nRow, aData, iDataIndex ) {
        $(nRow).attr('data-id', aData[0]);
    }"));
    vm.ColumnFilter = true;
    //vm.FilterOn("TransferMethod").Select(Enum.GetNames(typeof(Hearts4Kids.Domain.DomainConstants.DonationTypes)));
    //.FilterOn("Number").CheckBoxes(Enum.GetNames(typeof(Numbers)));
    vm.StateSave = true;
    //vm.DrawCallback = "drawCallback";

    //you can change the page length options...
    vm.LengthMenu = LengthMenuVm.Default();
    vm.PageLength = 25; //... and set a default
    vm.ColVis = true;
}
<script type="text/javascript">
    @*
    function asCurrency(data, type, full) {
        var val = +data;
        if (isNaN(val)) {return '';}
        return '$'+val.toFixed(2);
    }
    *@
</script>
@Html.Partial("DataTable", vm)
@section scripts{
    @Scripts.Render("~/bundles/jqueryUI")
    <!--https://DataTables.net/extensions/tabletools"-->

    @Scripts.Render("~/bundles/mvc-DataTables")

}