@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
    ViewBag.Title = "Upload";
}

@section Styles{
    @Styles.Render("/Content/mvcfileupload/blueimp/jquery.fileupload.css")
    @Styles.Render("/Content/mvcfileupload/blueimp/jquery.fileupload-ui.css")
}
<h2>Upload Photos to Gallery</h2>
    <div class="well">
        
        <p class="help-block">jpg/png size max 5 MB</p>
        @(
        Html.MvcFileUpload()
        .UploadAt(Url.Action("UploadFile"))
        .UIStyle(UploadUI.Bootstrap)
        .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
        .WithMaxFileSize(5000000)
        .RenderInline("_MvcFileupload")
        )
        
    </div>
@section Scripts{
        <!-- Blueimp Jquery File Upload-->

    @Scripts.Render("~/bundles/mvcFileUploader")

}
<!--template and scripts end-->
