<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
      -->
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=mssql3.openhost.net.nz;Initial Catalog=hearts4kids;Integrated Security=False;User ID=aspuser;Password=08%4Cedj;Connect Timeout=15;Encrypt=False;Network Library=dbmssocn;Packet Size=4096"  providerName="System.Data.SqlClient" />
    <add name="Hearts4KidsEntities" connectionString="metadata=res://*/Domain.MembersModel.csdl|res://*/Domain.MembersModel.ssdl|res://*/Domain.MembersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql3.openhost.net.nz;Initial Catalog=hearts4kids;Integrated Security=False;User ID=aspuser;Password=08%4Cedj;Connect Timeout=15;Encrypt=False;Network Library=dbmssocn;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@hearts4kids.org.nz"  deliveryMethod="Network" xdt:Transform="Replace">
        <network host="112.109.81.129" port="25" userName="info@hearts4kids.org.nz" password="Ph1lanthropy" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--mail.hearts4kids.org.nz-->
  <system.web>
    <machineKey xdt:Transform="Insert"
      compatibilityMode="Framework45"
      validationKey="F8E0F269B959C3723ED0A7654C9C2EFB9F7FB39DD91217683D821E940879C04EBB76C73FAFB91F25B013F5DDA614CF98C5A28FB25EEB1DECC5F2610C4EBF21E6"
      decryptionKey="FC68774520B53E0A48C78E8117999FA71C5212D6F0CCA7246DFE01BDBA7C77BA"
      validation="HMACSHA256" decryption="AES"/>

    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>