
@{
    ViewBag.Title = "Email Resent";
}

<h2>@ViewBag.Title</h2>
<p>
    As a security precaution, the token you were sent in your email only lasts for @Hearts4Kids.Controllers.AccountController.TokenExpireDays days from when it was sent. 
    If you have just reached this link via a registered email but with an expired token, a new token has been generated and sent to your email. Please check your inbox and click on the new link. 
</p>

