@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p class="text-warning">
        <em>Please Note:</em> As a security precaution, this page is the same regardless of whether you have an email registered with us or not. 
        If the email does not appear in your inbox and you are a genuine team member, please send us an email.
    </p>
</div>
	
