
@{
    ViewBag.Title = ViewBag.Source;
}
@section Styles{
    @Styles.Render("~/Content/DisplayPdf.css")
}

<div class="row">
    <embed src="@ViewBag.Source" type="application/pdf" class="col-md-12" id="pdf" />
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/pdfHeightPolyFill.js")
}