@{
    ViewBag.Title = "Donate";
}

<div class="row">
    <div class="col-md-12">
        <h2>DONATE</h2>
        <p class="lead">As a Hearts4Kids supporter, your donation will help raise $85,000 to send a medical team this year to Fiji to save the lives of 15 babies and children. </p>
        <p class="list-group-item-heading">There are a number of ways to donate:</p>
        <ul class="list-group">
            <li class="list-group-item">
                By direct credit transfer to the Hearts4Kids Trust bank account:
                <div class="bank">
                    <dl id="bankDetails">
                        <dt>Account number:</dt>
                        <dd>
                            <small>(Kiwibank)</small> 38-9016-0867144-01
                        </dd>

                        <dt>Account name:</dt>
                        <dd>HEARTS4KIDS TRUST</dd>
                    </dl>
                    <div class="help-block" >
                        If donating by bank transfer, please reference your name, and email us on <a href="mailto:info@hearts4kids.org.nz">info@hearts4kids.org.nz</a> with your contact details. We’d like to thank you and send you a receipt for your donation.
                    </div>
                </div>
            </li>
            <li class="list-group-item">By credit card through our Hearts4Kids page on <a href="http://givealittle.co.nz/cause/hearts4kids"><img alt="give a little" src="~/Content/Logos/givealittle.png" /></a></li>
            <li class="list-group-item">By cheque to Hearts4Kids Trust. Send to us at: <address>PO Box 5522, Wellesley Street, Auckland 1010</address></li>
        </ul>
        <p>Thank you for your donation. Your support is vital. We are not funded by the Government and simply can't do this without your help. All of the funds donated will be used specifically to operate and care for the children in Fiji. Priority will be given to purchase equipment, disposables and drugs </p>
    </div>
</div>
