
@{
    ViewBag.Title = "Donate";
}

<h2>Donate</h2>

<p>
    As a Hearts4Kids supporter, your donation will help raise $85,000 to send a medical team this year to Fiji to save the lives of 15 babies and children.
    There are a number of ways to donate.
</p>
    <ul>
   <li> By direct credit transfer to the Hearts4Kids Trust bank account:
    Kiwibank is 38-9016-0867144-01 Account name: HEARTS4KIDS TRUST.
    Please reference your name. And email us on info@hearts4kids.org.nz with your contact details. 
        We’d like to thank you and send you a receipt for your donation.</li>
        <li>By credit card through our Hearts4Kids page on Give A Little</li>
        <li>By cheque to Hearts4Kids Trust. Send to us at PO Box 5522, Wellesley Street, Auckland 1010</li>
    </ul>
        
        <p>Thank you for your donation. Your support is vital. We are not funded by the Government and simply can't do this without your help. All of the funds donated will be used specifically to operate and care for the children in Fiji. Priority will be given to purchase equipment, disposables and drugs and the balance of funds will be used to pay for economy travel and house the medical team. The support and administration of Hearts4Kids Trust is fully pro-bono.
</p>