@{
    ViewBag.Title = "Home Page";
}

    @section Styles {
        @Styles.Render("~/Content/LandingPage.css")
    }

    <div class="row">
        <div class="jumbotron text-center">
            <p id="mission"> New Zealand volunteer medical team performing life saving surgery on children born with heart disease.</p>
        </div>
    </div>
    <div id ="action-row" class="row">
      <div class="col-md-7 photoContainer">
        <div class="photobanner">
        </div>
      </div>
      <div class="col-md-5" id="quotes">
        <ul class="list-unstyled fadeThrough">
			<li><blockquote>“There are hundreds of children, from neighbouring countries of the Pacific that need our help to get life-saving cardiac care. They depend on the generosity and humanity of others to help them. I speak for the Hearts4Kids team when I say that we enjoy the privilege of using our expertise and time to reach some of the poorest children in the world to change their lives.” <small class="quoter">Kirsten Finucane <span class="quoterRole">Cardiac Surgeon &amp; Project Leader</span></small></blockquote></li>
			<li><blockquote>“These people did not hope for better health but their operations have completely changed their quality of life, or saved children who were otherwise going to die, and their gratitude is overwhelming. When you experience it you just want to keep going back.” <small class="quoter">Carol Robinson <span class="quoterRole">Intensive Care Nursing Lead</span></small></blockquote></li>
			@*
            <li><blockquote>“One operation can change a child's life - not just by saving it, but by transforming them from being crippled by heart failure, to leading healthy, physically active lives into their old age.” <small class="quoter">Brent McSharry <span class="quoterRole">Team Intensive Care Specialist</span></small></blockquote></li>
            *@
        </ul>
      </div>
        <div id="final-thought" class="col-md-7 ">
            <hr />
            <p>Each year in the Pacific, 350<sup>*</sup> children are born with congenital heart disease.</p>

            <p>
                Unfortunately, they have limited access to life saving surgery.
            </p>

            <p>
                With your help these children have the opportunity to lead active and fulfilling lives.
            </p>

            <p>Please support the volunteer team at Hearts4Kids who hope to visit Fiji in September 2015.</p>

            <p class="help-block"><small>*based on population incidence estimates. See the @Html.ActionLink("About Us", "About", "Home") section</small></p>
        </div>
        <div class="col-md-5" id="partners">
            <h4>Proudly in partnership with:</h4>
            <ul class="list-unstyled fadeThrough text-center">
                <li>
                    <a href="http://romac.org.au/">
                        <img src="~/Content/Logos/Romac.png" alt="ROMAC/Rotary" />
                    </a>
                </li>
                <li class="fof">
                    <a href="http://friends-of-fiji-heart-foundation.org.nz/">
                        <img src="~/Content/Logos/FOF.png" alt="Friends of Fiji Heart Foundation" />
                    </a>
                </li>
                <li>Please @Html.ActionLink("Contact Us", "Contact", "Home") if your corporation is willing to support our project (either via a donation or providing discounted medical goods, flights or accommodation), and we will add your logo here</li>
            </ul>
        </div>
    </div>
@*
<div class="row">
    <!--G Test Start-->
    <br>
    <hr>
    <div class="col-md-12">
        <h2>OUR MISSION</h2>
        <h3><span> TO CHANGE THE LIFE OF THOSE CHILDREN WHO HAVE NO HOPE!</span></h3>
        <div class="col-md-7 parabox">
            <p>
                Reet aliquameo. Ut us dolor, pibus eget tum vel, cursus eleifend, elit. Aenean auctor wisi. Aliquam erat volutpat.Duis ac turpis. Integer rutrum ante eu uisque nulla.<br>

                Vestibulum libero nisl, porta vel, scelerisqueeget. malea at, nequeivamus eget nibh. Etiam cursus leo vel metusulla lisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac viverra sednulla. Donec porta diam eu massa. Quisque diam lorem interdum vitae dapibus ac scelerisque vitae, pede.
            </p>
            <a class="vreport" href="#">view our report <span>2014</span></a>
            <blockquote class="report">“Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit. Ut pharetra augue nec augue.” <cite class="quoter">Vestibulum ante</cite> <small class="quoterRole">Aenean nec eros</small></blockquote>
        </div>
        <div class="col-md-5 parabox-right">
            <div class="bg-image">
                <!--G img alt="Heart4Kids" src="./Home Page - Hearts4Kids_files/parabox-right.png" -->
                <p><strong>Child's rights in Fiji</strong><br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Quisque diam lorem interdum vitae dapibus ac scelerisque vitae. Lorem interdum vitae dapibus ac scelerisque vitae.</p><br>
                <a class="learnmore-btn" href="">Learn more</a>
            </div>
        </div>
    </div>
    <!--G Test End -->
</div>
*@
@*
    @section Scripts {
        @Scripts.Render("~/Scripts/singlePage.js")
    }
*@
