
@{
    ViewBag.Title = "Sponsors";
}

<h2>Sponsors</h2>

<p class="lead">To help these children, we need your help, but we are also very grateful to the following sponsors:</p>
<p class="help-block">This page is in its early development, and this list is not yet exhaustive. If we have missed your organisation out, 
    <em>please let us know</em> (either via the H4K volunteer you have been dealing with, or our @Html.ActionLink("Contact Us", "Contact") page), and
    we will rectify the situation ASAP.</p>

<ul class="list-unstyled">
    <li class="row"><h3>Charities providing us with (a proportion of our) funding, along with expertise in logistics and accounting:</h3>
        <ul>
            <li>
                <a name="Romac" href="http://romac.org.au/">
                    <img src="~/Content/Logos/Romac.png" alt="ROMAC/Rotary" />
                </a>
            </li>
            <li class="fof">
                <a name="FriendsOfFiji" href="http://friends-of-fiji-heart-foundation.org.nz/">
                    <img src="~/Content/Logos/FOF.png" alt="Friends of Fiji Heart Foundation" class="col-md-2 img-responsive" />
                </a>
            </li>
        </ul>
    </li>
    <li class="row">
        <h3>Medical companies providing us with free goods:</h3>
        <ul>
            <li><a name="JandJ" href="http://www.jnj.com/healthcare-products/">Johnson &amp; Johnson Medical</a></li>
            <li><a name="CovidienMedtronic" href="http://www.covidien.com/covidien/">Covidien (soon to be Medtronic)</a></li>
            <li><a name="PacificSurgical" href="http://www.pacificsurgical.co.nz/">Pacific Surgical</a></li>
        </ul>
    </li>
    <li class="row">
        <h4>Medical comapnies providing us with heavily discounted goods</h4>
        <ul>
            <li><a name="Obex" href="http://www.obex.co.nz/">Obex</a></li>
        </ul>
    </li>
</ul>