
@{
    ViewBag.Title = "Partners";
}



<div class="row">
    <div class="col-md-12">
        <h3>PARTNERS</h3>
        <p>Hearts4Kids simply couldn’t operate without the help of our partners</p>
        <ul class="list-unstyled fadeThrough text-center">
            <li>
                <a href="http://romac.org.au/">
                    <img src="~/Content/Logos/Romac.png" alt="ROMAC/Rotary" />
                </a>
            </li>
            <li class="fof">
                <a href="http://friends-of-fiji-heart-foundation.org.nz/">
                    <img src="~/Content/Logos/FOF.png" alt="Friends of Fiji Heart Foundation" />
                </a>
            </li>
            <li><a href="#">[Contact us to if you would like your corporate logo here]</a></li>
        </ul>
    </div>
</div>