
@{
    ViewBag.Title = "Youth Volunteers";
}

<h2>Thoughts of our Youth Volunteers</h2>
<p>
    Last year, we had two entirely self funded university students volunteer with us - to help the team and see what we do.
    Tasks ranged from running down to the pharmacy to buy drugs we were running short of, to typing up surgical notes and pushing beds to theatre.  
</p>
<p>
    Below is a summary from Shamini, one of these two keen youths who volunteered to work long hours alongside us.
</p>
<blockquote>
    <img class="col-md-2 img-responsive" alt="photo of Shamini" style="height:220px"/> @*remove height once image available*@
    <p>
        The work that Hearts4Kids medical team do is inspiring. I was lucky enough to be a volunteer for the team in 2014 which travelled to Lautoka, Fiji, performing 12 operations over 5 days. Without any doubt it was the most rewarding and interesting week of my life.</p>
    <p>
        On the first day I observed the clinics and met some of the patients. It was clear from these clinics just how in need the patients were of treatment and also how grateful they were. Everyone in the team seemed to have their roles downpat, were organised and worked efficiently. I soon found that there were many little jobs that I could do from sorting out the equipment for the technicians to relaying information from the wards to the surgical unit. The environment was fast-paced. There was absolutely no mucking around. Everyone was there with the same purpose, to help these children.
    </p>
    <p>
        One of the most rewarding experiences I had was spending time with the children waiting for surgery down on the ward. We talked, played games and read the children’s books that the team brought with them. Most of the children were really nervous but I was amazed by how cheerful they were, I think that even at the young ages of 7 and 8 they understood that the operations were necessary and would be life changing. The families of the children were so friendly and loving. I made many new friends, one family even gave me their email and address and invited me to come and stay in their village next time I was in Fiji.
    </p>
    <p>
        Observing the operations was another incredible part of the visit. I was amazed by the team’s ability to work together so efficiently in such a different environment. Resources were obviously limited and most of the equipment had to be brought over from New Zealand. This proved a huge task not only organisationally but in terms of having an unstructured environment. I thought that it was amazing the way that the team managed with what they had and organised themselves to provide such successful outcomes for the patients.
    </p>
    <p>
        Helping the paediatric team out was one of the most worthwhile experiences I have had. The importance of the work that the team does cannot be over emphasised.  I know that the surgeries performed last year are going to make such a difference to these children and their families. It was awesome to work alongside such a skilled and friendly bunch of medical professionals who all have the same goal- to provide access to life-changing cardiac surgery for children in the Pacific. These children deserve the opportunity to lead fulfilling and active lives, opportunities that we take for granted in New Zealand.
    </p>
</blockquote>
<p class="help-block">
    There will potentially be opportunities to join us in a similar role over the coming years. Prerequisites will obviously be around positive attitude and willing to work hard.
    As well as being self-funded, you would have to be willing/able to help fundraise for the project as a whole (not just your own expenses) prior to coming.
</p>