/* Write Us a Letter */
  #contact-form label { color: #85837f; }
  #contact-form input { line-height: 41px; width: 466px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #ffffff; border: solid 1px #FFF; font-size: 18px; font-weight: 300; color: #9e9e9b; height: 51px; padding: 12px 25px 13px; }
  #contact-form textarea { width: 800px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #ffffff; border: solid 1px #FFF; font-size: 18px; font-weight: 300; color: #9e9e9b; padding: 12px 25px 13px; }
  #contact-form { height: auto; background-color: #d8d7d2; border: solid 1px #aba9a4; padding: 10px 20px 50px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
  #contact-form #submit-button { width: 209px; height: auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #428bca; -webkit-box-shadow:inset 0 2px rgba(255,255,255,.29); -moz-box-shadow:inset 0 2px rgba(255,255,255,.29); box-shadow:inset 0 2px rgba(255,255,255,.29); border: solid 1px #357ebd;; color: #ffffff; margin-left: 7px; margin-top: 7px; } /* font-weight: bold */
  #contact-form label.required:after { content: '*'; color: red; }
  .row-message { margin: 5px; max-width: auto; }
  .row-message > input { max-width: 100%; }
  .row-message > textarea { max-width: 100%; }


