/* Hacked by PM - the following are necessary to stabilize postitioning of surrounds during fadeThrough */
#action-row {
    min-height:340px;
}
#quotes ul {
    min-height:160px;   
}
#partners ul {
    min-height:144px;  
}
.photoContainer {
    height: 232px;
    overflow: hidden;
    background-color:#ffffff;
}
.photoContainer div.photobanner  {
    position: absolute;
    background: rgba(0, 0, 0, 0) url("/Content/Photos/Banner.jpg") repeat scroll 0 0;
    height: 100%;
    left: 0;
    top: 0;

    /* Keyframes */
    animation:    620s linear 0s normal none infinite running moveSlideshow;
    -moz-animation:    620s linear 0s normal none infinite running moveSlideshow;
    -webkit-animation:    620s linear 0s normal none infinite running moveSlideshow;
    -o-animation:    620s linear 0s normal none infinite running moveSlideshow;
    /* -ms-animation:    slideshow 10s linear infinite; - doesn't seem to exist*/
    /* Hey browser, use your GPU */
    transform:translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
} 
@keyframes moveSlideshow {
    0%   { 
        transform: translateX(0);  
    }    
    100% { 
        transform: translateX(-100%);  
    }
}
@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }    
    100% { 
        -webkit-transform: translateX(-100%);  
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-100%); 
    }
}
@-o-keyframes moveSlideshow {
    0%   { 
        -o-transform: translateX(0);  
    }    
    100% { 
        -o-transform: translateX(-100%);  
    }
}
@-ms-keyframes moveSlideShow {
    0%   { 
        -ms-transform: translateX(0);  
    }    
    100% { 
        -ms-transform: translateX(-100%);  
    }
}

/* sizes hacked by PM */
hr {
    margin: 10px 0;
}

.quoterRole:before {
    content:"(";
}
.quoterRole:after {
    content:")";
}
.quoterRole{
    font-size:85%;
}
/* changes to home page layout - override jumbotron */
.container .jumbotron {
  border-radius: 20px;
}
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #292828;
  background-color: #D8D7D2;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}