/* Hacked by PM - the following are necessary to stabilize postitioning of surrounds during fadeThrough */
#action-row {
    min-height:340px;
}
#quotes ul {
/* this depends on font-size */
    min-height:196px;   
}
#partners ul {
    min-height:144px;  
}
#photoContainer {
    max-height: 232px;
    overflow: hidden;
}
#photoContainer div.photobanner  {
    max-height: 232px;
    min-width: 696px;
    overflow: hidden;
} 
/* get rid of border between images */
#photoContainer img {
    /* font-size: 0;*/
    float: left;
}

/* sizes hacked by PM */
hr {
    margin-top: 10px;
    margin-bottom: 20px;
}
.photobanner {
    height: 232px;
    width: 696px;
}
.photobanner img {
    display:block;
}
.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -696px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -696px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -696px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -696px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -696px;
 }
 
}
/*G */
.container .jumbotron {
border-radius: 20px; 
}
.jumbotron { 
	padding-top: 20px; 
	padding-bottom: 20px; 
	color: #292828; 
	background-color: #D8D7D2; 
	font-family: Roboto, sans-serif;
    line-height: 1.5em;
    margin-bottom: 20px; 
} 
