@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }     
    100% { 
        -webkit-transform: translateX(-2885px); 
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-2885px); 
    }
}
@-o-keyframes moveSlideshow {
    0%   { 
        -o-transform: translateX(0);  
    }    
    100% { 
        -o-transform: translateX(-2885px);  
    }
}
@-ms-keyframes moveSlideShow {
    0%   { 
        -ms-transform: translateX(0);  
    }    
    100% { 
        -ms-transform: translateX(-2885px);  
    }
}
@keyframes moveSlideshow {
    0%   { 
        transform: translateX(0);  
    }    
    100% { 
        transform: translateX(-2885px);  
    }
}
.photoContainer div.photobanner  {
    /*split into individual propertties as IE 8 didn't support all properties */
    position: absolute;
    background-image: url("/Content/Photos/Banner.jpg");
    background-repeat: repeat;
    background-color: #000000; /* rgba(0, 0, 0, 0) */
    background-attachment: scroll;
    background-position: 0 0;
    height: 100%;
    width:4122px;
    /*safari needs either a width or translateX in px, or it doesn't commence animation until after 1st cycle*/
    left: 0;
    top: 0;

            /* Hey browser, use your GPU */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);

    /* Keyframes */
    -moz-animation:    120s linear 0s normal none infinite running moveSlideshow;
    -o-animation:    120s linear 0s normal none infinite running moveSlideshow;

    -webkit-animation-name: moveSlideshow;
    -webkit-animation-duration: 120s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: none;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;

        animation-name: moveSlideshow;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
} 

/* Hacked by PM - the following are necessary to stabilize postitioning of surrounds during fadeThrough */
#action-row {
    min-height:340px;
}
#quotes ul {
    min-height:160px;   
}
#partners ul {
    min-height:144px;  
}
.photoContainer {
    height: 232px;
    overflow: hidden;
    background-color:#ffffff;
}

/* sizes hacked by PM */
hr {
    margin: 10px 0;
}

.quoterRole:before {
    content:"(";
}
.quoterRole:after {
    content:")";
}
.quoterRole{
    font-size:85%;
}
/* changes to home page layout - override jumbotron */
.container .jumbotron {
  border-radius: 20px;
}
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #292828;
  background-color: #D8D7D2;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}

  /* Partnership */
  /* .fof { background: linear-gradient(#C51515, #FA0506); } changed to having background & rounded corners */
  .fof > a > img { width: 50%; height: 50%; }

    /* G Test Start */
  /* Mission */
  h2 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; }
  h3 > span { font-weight: bold; }
  .parabox { border-right: 5px solid #eeeeee; padding: 0; }
  .parabox a:hover, .parabox a:active { color: #2a6496; text-decoration: none; text-shadow: 0px 0px 6px rgba(255,255,255,0.7); }
  .vreport { float: right; width: 170px; font: 28px/1em 'Changa One', cursive; color: #4e4a47; text-transform: uppercase; margin-left: 50px; letter-spacing: 1px; font-weight: bold; color: #4e4a47; text-decoration: none; }
  .vreport span { font-size: 50px; line-height: 40px; color: #f0ad4e; font-weight: bold; }
  .report { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.428571429; color: #333333; border-left: 0; text-transform: lowercase; letter-spacing: 1px; }
  .parabox-right { background: #aba9a4 url("Home Page - Hearts4Kids_files/parabox-right.png") no-repeat; background-size: 80%; background-position: right; color: #FFFFFF; border-radius: 20px; padding: 15px; }
  .parabox-right > img { height: 98%; float: right; }
  .learnmore-btn { color: #ffffff; background-color: #4e4a47; border-color: #eea236; padding: 8px; border-radius: 4px; margin-left: 150px; }
  div.bg-image { height: 250px; width: 80%; }

  #mission {
      margin-bottom:3px;
  }
