/* bad idea - problems in different browsers - use container - PM 
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.quoter{
    font-style:italic;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: Auto;
  background-color: #FFFFFF;
}

.fof{
    background:linear-gradient(#C51515, #FA0506)
}

/*G over-ride bootstrap menu colour */
.navbar-inverse { 
	background-color: #4e4a47; 
	border-color: #4e4a47; 
} /*G top-menu colour */

.navbar-collapse .navbar-nav.navbar-right:last-child { 
	margin-right: -100px; 
}
/* G login setting - bootstrap has -15 here - there is some problem with a left and right menu sharing the same space */
.navbar-inverse .navbar-nav > li > a { 
	color: #aba9a4; 
} /*G text top-menu */

.navbar {
    margin-bottom: 5px;
}
#navbar ul {
    display:inline:block;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    font-size: 16px;
}

body>.container {
    /* compensate for fixed footer or copyright disappearas behind it 
         needs enough for a vertical footer menu -- 3*36 + padding 10 */
  padding-bottom: 118px;
}
/* remove the excess padding for folded footer menu on larger screens */
@media (min-width: 768px) {
    body > .container {
        padding-bottom: 46px;
    }
}

#copyright>span {
    float:right;
}
.btn {
    font-size: 16px;
}

.nav  li.btn-warning
{
    border-radius: 4px;
}
.nav li.btn-warning > a {
    color: #ffffff!important;
}
.panel-footer {
    padding: 10px 15px 0;
}
/* Social from G -- only facebook is active */
#shareContainer { width: 317px; position: relative ;} 
#shareContainer ul li { margin-left: 4px; }
#shareContainer li { display: inline-block; }
#shareContainer li a { display: block; width: 32px; height: 32px; background-image: url('/Content/Logos/share-icons.png'); background-repeat: no-repeat; text-indent: -9999px; }
#shareContainer li a.facebook { background-position: left top; }
#shareContainer li a.twitter { background-position: -40px top; }
#shareContainer li a.pinterest { background-position: -80px top; }
#shareContainer li a.googleplus { background-position: -120px top;}
#shareContainer li a.instagram { background-position: -160px top; }
#shareContainer li a.youtube { background-position: -200px top;}
#shareContainer li a.linkedin { background-position: -240px top; }
#shareContainer li a.rss { background-position: left -112px; }
#shareContainer li a.facebook:hover { background-position: left  -40px; }
#shareContainer li a.twitter:hover { background-position: -40px -40px; }
#shareContainer li a.pinterest:hover { background-position: -80px -40px; }
#shareContainer li a.googleplus:hover { background-position: -120px  -40px; }
#shareContainer li a.instagram:hover { background-position: -160px  -40px; }
#shareContainer li a.youtube:hover { background-position: -200px -40px; }
#shareContainer li a.linkedin:hover { background-position: -240px -40px; }
#shareContainer li a.rss:hover { background-position: left -152px; }
 
/* correction */
div#copyright {
    max-height: 32px;
}