@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
    else
    {
        @*
        <li>@Html.ActionLink("Register For Our Newsletter", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        *@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    <li><a href="http://www.facebook.com/Hearts4KidsPasifika"><img class="img-responsive" alt="Facebook icon" src="~/Content/Logos/FB_FindUsOnFacebook-144.png"></a></li>
</ul>