@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <p>
        We do appologise - it has been logged and we will try to fix things.
        If you feel inclined, please <a href="mailto:brentm@focused-light.net">Email the site administrator</a> with details of what
        you were trying to do when things went amiss.
    </p>
</body>
</html>
